<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.AirlineMapper">
	<insert id="register">
		INSERT INTO AIRLINE (airline_idx, from_address, from_time, to_time, to_address,  max_headcount, price, company, reg_date)							
				VALUES	  (seq_airline_idx.nextval, #{from_address}, #{from_time}, #{to_time}, 
							#{to_address},#{max_headcount}, #{price}, #{company}, #{reg_date}) 	
	</insert>
	
			<select id="read" resultType="kr.ac.ync.domain.AirlineVO">
		select * from airline where airline_idx = #{airline_idx}
	</select>
	
		<select id="getList" resultType="kr.ac.ync.domain.AirlineVO">
		<![CDATA[
		select * from airline where airline_idx > 0 
		]]>
	</select>
	
	
		<delete id="delete">
		delete airline where airline_idx = #{airline_idx}
	</delete>
 
	<update id="update">
		update	airline
		set		from_address= #{from_address}

		where 	airline_idx = #{airline_idx}
	</update>
	
	
	
</mapper>