<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.MemberMapper">
	
	<insert id="register">
		INSERT INTO MEMBER (member_idx, 
							userid, 
							userpw, 
							nickname, 
							username, 
							phonenumber, 
							email, address, 
							reg_date, 
							auth, 
							enabled)
		   			VALUES 	(seq_member_idx.nextval, 
		   					#{userid}, 
		   					#{userpw}, 
		   					#{nickname}, 
		   					#{username}, 
		   					#{phonenumber}, 
		   					#{email}, 
		   					#{address}, 
							SYSDATE, 
							'USER', 
							'0')
	</insert> 
	
	<select id="login" resultType="kr.ac.ync.domain.MemberVO">
		SELECT 	member_idx, 
				userid, 
				userpw, 
				nickname, 
				username, 
				phonenumber, 
				email, address, 
				reg_date, 
				auth, 
				enabled
		FROM	MEMBER
		WHERE	userid=#{userid} AND userpw=#{userpw}	
	</select>

</mapper>
