<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.ync.mapper.NoticeMapper">

    <insert id="createNotice">
        INSERT INTO notice (notice_idx,
                            member_idx,
                            title,
                            content,
                            reg_date,
                            view_count)
        VALUES (seq_notice_idx.nextval,
                #{member_idx},
                #{title},
                #{content},
                SYSDATE,
                0
               )
    </insert>

    <select id="getNoticeList" resultType="kr.ac.ync.domain.NoticeVO">
        <![CDATA[
        SELECT  notice_idx,
                title,
                reg_date,
                view_count
        FROM   (SELECT /*+INDEX_DESC(notice pk_notice) */
                        rownum rn,
                        notice_idx,
                        title,
                        reg_date,
                        view_count
                FROM    notice
                WHERE   rownum <= #{cri.pageNum} * #{cri.amount}
                )
        WHERE   rn > (#{cri.pageNum} - 1) * #{cri.amount}
        ]]>
    </select>
    
    <select id="getNoticeAllList" resultType="kr.ac.ync.domain.NoticeVO">
        <![CDATA[
        SELECT  /*+INDEX_DESC(notice pk_notice) */
        		notice_idx,
                title,
                reg_date,
                view_count
        FROM   	notice
        ]]>
    </select>
    
    <select id="getNoticeDetail" resultType="kr.ac.ync.domain.NoticeVO">
    	<![CDATA[
    	SELECT	notice_idx,
    			member_idx,
    			title,
    			content,
    			reg_date,
    			view_count
		FROM	notice
		WHERE	notice_idx = #{notice_idx}
    	]]>
    </select>
    
    <update id="updateViewCount">
    	UPDATE 	notice
    	SET		view_count = view_count + 1
    	WHERE	notice_idx = #{notice_idx}
    </update>
    
    <update id="modifyNotice">
    	UPDATE	notice
    	SET		title = #{title},
    			content = #{content}
		WHERE	notice_idx = #{notice_idx}
    </update>
    
    <delete id="deleteNotice">
    	DELETE
    	FROM	notice
    	WHERE	notice_idx = #{notice_idx}
    </delete>

    <select id="getTotal" resultType="int">
        SELECT count(*) FROM notice WHERE notice_idx > 0
    </select>
</mapper>
